In [12]:
#!pip install pickle5

In [13]:
import pickle
import pandas as pd
import numpy as np

# Read file

In [14]:
def read_pickle(file_path):
    infile = open(file_path,'rb')
    file = pickle.load(infile)
    infile.close()
    print(f'The file has a shape: {file.shape} and class: {type(file)}')
    return file

In [4]:
file_path = 'Embeddings/features_resnet50.pkl'
file = read_pickle(file_path)

The file has a shape: (164, 100) and class: <class 'numpy.ndarray'>

In [5]:
file_path = 'Embeddings/features_transformer.pkl'
file = read_pickle(file_path)

The file has a shape: (164, 100) and class: <class 'numpy.ndarray'>

# Write file

In [15]:
def get_embeddings_list(df):
    
    embeddings_list = np.array(df.iloc[:,1:])
    embeddings_date = np.array(df.iloc[:,0])
    
    embeddings_dict = dict()

    for date, embedding in zip(embeddings_date, embeddings_list):
        embeddings_dict[date] = embedding
        
    return embeddings_dict, embeddings_list

In [16]:
def write_pickle(file_path, python_object):
    outfile = open(file_path,'wb')
    pickle.dump(python_object, outfile)
    outfile.close()
    print(f'Picke object created in : {file_path}')

# Variational Autoencoder

### 100 features

In [8]:
embeddings_df = pd.read_csv('Embeddings/embeddings_medellin_100features.csv')
embeddings_df.head(3)

,Date,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,2015-11-01,-0.773164,0.409429,-1.967424,-0.194265,1.589418,-0.806473,3.013131,-0.131107,-1.274766,...,1.858297,-1.143137,-0.012872,2.545450,-1.408913,2.835881,-4.650385,2.829885,-3.892387,-2.027068
1,2015-11-08,-0.375792,1.282191,-1.769311,-1.768404,0.960811,-1.401841,-0.138934,0.260522,-1.184208,...,1.427782,-2.927658,0.504012,-0.062580,3.175248,-1.147623,-2.653756,2.155063,-1.433320,-1.319588
2,2015-11-15,0.270060,1.896669,0.160804,0.100467,-1.593640,-0.673158,0.158351,1.709716,-0.976310,...,1.151502,-1.066319,0.433531,0.623669,1.678527,-2.044615,0.735826,1.307580,-0.059874,-0.276768

In [9]:
embeddings_dict, embeddings_list = get_embeddings_list(embeddings_df)

file_path = 'Embeddings/features100_vae.pkl'
write_pickle(file_path, embeddings_list)

file_path = 'Embeddings/features100_vae_dict.pkl'
write_pickle(file_path, embeddings_dict)

Picke object created in : Embeddings/features100_vae.pkl
Picke object created in : Embeddings/features100_vae_dict.pkl

### 200 features

In [10]:
embeddings_df = pd.read_csv('Embeddings/embeddings_medellin_200features.csv')
embeddings_df.head(3)

,Date,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,2015-11-01,-1.138282,-1.383034,-0.000583,1.071936,-0.359077,0.440569,-1.345535,-0.597920,-0.416173,...,-0.474824,-0.102958,0.874375,-0.633094,0.394676,-0.026532,1.617163,-0.549096,-1.465783,-0.298742
1,2015-11-08,-0.783712,-0.879078,0.890005,-1.460927,-0.009188,-1.029440,0.532122,-0.533219,0.888485,...,-0.330899,1.282552,0.930263,0.607250,0.775984,-0.530287,1.045188,-1.449551,-0.319409,-0.364504
2,2015-11-15,-0.711124,0.780505,0.632126,-0.204868,1.291418,-0.262743,0.276512,0.554111,0.619750,...,0.248257,-1.038282,0.387911,-0.306651,0.462835,0.191473,0.528304,0.136528,-0.337819,-1.640651

In [11]:
embeddings_dict, embeddings_list = get_embeddings_list(embeddings_df)

file_path = 'Embeddings/features200_vae.pkl'
write_pickle(file_path, embeddings_list)

file_path = 'Embeddings/features200_vae_dict.pkl'
write_pickle(file_path, embeddings_dict)

Picke object created in : Embeddings/features200_vae.pkl
Picke object created in : Embeddings/features200_vae_dict.pkl

# PCA

### 10 features per band (120 in total)

In [17]:
embeddings_df = pd.read_csv('Embeddings/pca_medellin_120features(10_per_band).csv')
embeddings_df.head(3)

,Date,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,2015-11-01,2.294995,0.188790,-2.814999,-4.106509,-4.826127,-1.931590,2.110046,2.169669,-3.337853,...,4.991791,-1.130083,-4.237726,-8.811673,2.755142,-2.230883,1.070571,3.062169,-2.531766,-0.283356
1,2015-11-08,2.294995,0.188790,-2.814999,-4.106509,-4.826127,-1.931590,2.110046,2.169669,-3.337853,...,4.991791,-1.130083,-4.237726,-8.811673,2.755142,-2.230883,1.070571,3.062169,-2.531766,-0.283356
2,2015-11-15,-2.992776,-4.160585,-1.680303,0.850790,0.399466,-0.382515,1.082947,0.885324,0.939764,...,-2.651444,-4.150722,-1.211129,0.537388,1.388784,-0.833611,1.429209,-0.413522,0.802893,2.269096

In [19]:
embeddings_dict, embeddings_list = get_embeddings_list(embeddings_df)

file_path = 'Embeddings/features120_pca.pkl'
write_pickle(file_path, embeddings_list)

file_path = 'Embeddings/features120_pca_dict.pkl'
write_pickle(file_path, embeddings_dict)

Picke object created in : Embeddings/features120_pca.pkl
Picke object created in : Embeddings/features120_pca_dict.pkl

### 100 features

In [20]:
embeddings_df = pd.read_csv('Embeddings/pca_medellin_100features.csv')
embeddings_df.head(3)

,Date,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,2015-11-01,98.435754,108.962228,-40.915729,39.468939,47.325778,70.472168,187.431726,-229.801740,43.888213,...,0.587965,-0.365837,-2.923909,0.096117,-0.608161,0.119047,1.095555,-1.305447,-1.034465,-0.486601
1,2015-11-08,98.435754,108.962228,-40.915729,39.468939,47.325778,70.472168,187.431726,-229.801740,43.888213,...,0.587965,-0.365837,-2.923909,0.096117,-0.608161,0.119047,1.095555,-1.305447,-1.034465,-0.486601
2,2015-11-15,-149.578506,118.675591,-28.032221,-37.096690,-3.305299,-67.746083,37.584909,-11.838416,-15.613838,...,-13.746142,13.683615,-1.131025,-3.349845,-10.681103,-6.437450,12.024817,12.829025,12.699458,0.475610

In [21]:
embeddings_dict, embeddings_list = get_embeddings_list(embeddings_df)

file_path = 'Embeddings/features100_pca.pkl'
write_pickle(file_path, embeddings_list)

file_path = 'Embeddings/features100_pca_dict.pkl'
write_pickle(file_path, embeddings_dict)

Picke object created in : Embeddings/features100_pca.pkl
Picke object created in : Embeddings/features100_pca_dict.pkl